<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Marketplace | Inicio</title>
  <!-- Ruta al css en carpeta css -->
  <link rel="stylesheet" href="css/index.css" />
</head>
<body class="hero-page">
  <div class="container">
    <h1>Bienvenido a Marketplace</h1>
    <p>¿Ya tienes una cuenta o deseas registrarte?</p>

    <div class="button-group">
      <a href="login-form.html" class="btn">Iniciar sesión</a>
      <a href="register-form.html" class="btn">Registrarse</a>
    </div>

    <div class="additional-links">
      <a href="recovery.html">Recuperar contraseña</a>
      <a href="contact.html">Contáctanos</a>
    </div>

    <div class="return-2-store">
      <a href="../../home.html">Regresar a la tienda</a>
    </div>

  <!-- JS -->
  <script src="JS/index.js"></script>
</body>
</html>
