<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Iniciar Sesión</title>
  <link rel="stylesheet" href="css/login.css" />
</head>
<body class="welcome-page">

  <div class="container">
    <h1>Iniciar Sesión</h1>

    <form action="#" method="POST">
      <input type="email" name="email" placeholder="Correo electrónico" required />
      <input type="password" name="password" placeholder="Contraseña" required />

      <div class="remember-me">
        <input type="checkbox" id="remember-me" name="remember-me" />
        <label for="remember-me">Recordarme</label>
      </div>

      <button type="submit">Entrar</button>
    </form>

    <div class="additional-links">
      <a href="recovery.html">Recuperar contraseña</a>
      <a href="contact.html">Contáctanos</a>
    </div>

    <p class="register-text">
      ¿No tienes cuenta? 
      <a href="register-form.html">Regístrate</a>
    </p>

    <p><a href="index.html" id="linkToHome">Volver a inicio</a></p>

  </div>

  <script type="module" src="js/login.js"></script>
  
</body>
</html>
