/* =============================
    Estilos Base Globales
   ============================= */

   :root {
    --color-primary: #111;
    --color-secondary: #e0e0e0;
    --color-backgriund: #f4f4f4;
    --color-white: #ffffff;
    --color-accent: #0066ff;

    --font-main: 'Segoe UI', sans-serif;
    --border-radius: 8px;
    --transition-fast: 0.2s ease-in-out;
    }

    * 