body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background-color: 0066cc;
    color: white;
    padding: 2-px;
    text-align: center;
}

main {
    padding: 20px;
}

button{
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}